body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-image: url(pngtree-love-background-red-and-light-pink-image_327227.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    /* justify trong lập trình là căn chỉnh, trong hội thoại là biện minh */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.border{
    border: 1px solid black;
    background-image: url(thu.jpg);
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-size: cover;
   border-radius: 20px;
   box-sizing: border-box;
}
a{
    color: black;
    font-size: 30px;
    text-decoration: none;
}
a:hover{
    color: red;
}
a:active{
    color: pink;
}