body{
    background-image: url(pngtree-love-background-red-and-light-pink-image_327227.jpg);
}
.border{
    border:3px solid black ;
    border-radius: 20px;
    background-image: url(thu.jpg);
    background-size: 400px 250px;
    position: relative;
    left: 590px;
    top: 200px;
    width: 400px;
    height: 250px;
}
a{
    text-decoration:none;
    font-size: 35px;
    color:red;
    font-family: 'Times New Roman', Times, serif;
    position:relative;
    left: 95px;
    top: 180px;
}
a:hover{
    color:rgb(184, 102, 115);
}
a:active{
    color:pink;
}