body {
  padding: 0;
  margin: 0;
  background-color: pink;
}
.one {
  width: 100%; 
  /* tự điều chỉnh độ rộng bằng 100% thiết bị */
  height: 100vh;
  max-width: 800px;
  /* nếu màn hình nào to hơn 800px thì tự động thu nhỏ và giữ cố định 800px */
  padding: 3px 50px;
  margin: 0 auto; /* Tự động căn giữa trang,  auto: là máy sẽ tự cẳn chỉnh 2 bên trái phải*/
  background-position: center;
  background-image: url(page.png);
  background-repeat: repeat-y;
}
.one h1 {
  font-size: 40px;
  text-align: center;
}
.one p {
  font-size: 30px;
  line-height: 2.1;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.one a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}
.one a:hover {
  color: rgb(152, 118, 123);
}
.one a:active {
  color: pink;
}
.two {
  text-align: center;
  white-space: pre-wrap;
  position: relative;
  top: 5%;
}
