body {
  width: 900px;
}
.one {
  width: 800px;
  padding: 3px 50px;
  background-position: center;
  background-image: url(page.png);
  background-repeat: repeat-y;
}
.one h1 {
  font-size: 40px;
  text-align: center;
}
.one p {
  font-size: 30px;
  line-height: 2.1;
  text-align: left;
}
pre{
overflow-wrap: break-word;
}
.one a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}
.one a:hover {
  color: rgb(152, 118, 123);
}
.one a:active {
  color: pink;
}
.two{
  text-align: center;
  white-space:pre-wrap;
  margin-bottom: 20px;
}
