.three {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3px 50px;
  background-position: center;
  background-image: url(page.png);
  background-repeat: repeat-y;
}
.three h1 {
  font-size: 40px;
  text-align: left;
}
.div1 p {
  color: red;
  font-size: 20px;
  position: relative;
  top: 20px;
}
.div1 a {
  font-size: 25px;
  text-align: left;
  text-decoration: none;
  line-height: 1.6;
  position: relative;
  top: 15px;
}
.div1 a:link {
  color: black;
}
.div1 a:visited {
  color: rgb(157, 144, 146);
}
.div1 a:hover {
  color: red;
}
.div1 a:active {
  color: rgb(239, 186, 195);
}
.div2 {
  margin-left: 300px;
  text-align: left;
}
.div2 h2 {
  font-size: 30px;
}
.div2 p {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 2.3;
}
.div2 h2:target {
  color: red;
}
.div3{
    text-align: center;
  white-space:pre-wrap;
  margin-bottom: 20px;
}
.div3 a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}
.div3 a:hover {
  color: rgb(152, 118, 123);
}
.div3 a:active {
  color: pink;
}
body {
  padding: 0;
  margin: 0;
}
