.two {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3px 50px;
  background-position: center;
  background-image: url(page.png);
  background-repeat: repeat-y;
}
.two h1 {
  font-size: 40px;
}
.two h2 {
  font-size: 30px;
}
.two p {
  font-size: 30px;
  text-align: right;
  position: relative;
  top: -30px;
}
.two h2,
p {
  line-height: 0%;
}
.p1 {
  margin-top: 85px;
}
.p2 a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}
.p2{
  text-align: center;
  white-space:pre-wrap;
  position: relative;
  top: 15%;
}
.p2 a:hover {
  color: rgb(152, 118, 123);
}
.p2 a:active {
  color: pink;
}
body{
  background-color: pink;
  padding: 0;
  margin: 0;
}