
body{
    background-image: url(page.png);
    background-size: 1700px 1200px;
    background-repeat: no-repeat;
    background-position: center center;
}
h2{
    font-size: 30px;
    position: relative;
    top: 20px;
     display: inline;
}
span{
    position: relative;
    left: 900px;
    top:30px;
    font-size: 40px;
}
#new{
    position: relative;
    left: 918px;
}
p{
    font-size: 30px;
    position: relative;
    left: 1115px;
}
h1,h2{
    position: relative;
    left: 60px;
}
a{
    text-decoration:none;
    font-size: 35px;
    color:red;
    font-family: 'Times New Roman', Times, serif;
    position:relative;
    left: 420px;
}
a:hover{
    color:rgb(184, 102, 115);
}
a:active{
    color:pink;
}
h1{
    font-size: 50px;
    position: relative;
    left: 690px;
    top:20px;
}
